/* main style */
*, *::before, *::after {
  padding: 0;
  margin: 0;
  font-family: 'ARS Maquette,Helvetica Neue,Arial,sans-serif';
  box-sizing: border-box;
}

html, body {
  font-size: 12px;
}

.container {
  padding-left: 1.2rem;
}

ul {
  list-style-type: none;
}

button {
  border: none;
  background: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

.icons {
  display: block;
  width: 5rem;
  height: 5rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.search_icon {
  background-image: url('assets/search.png');
}

.top_nav, .top_nav ul, .navigation_bar, .navigation_bar ul {
  display: flex;
  align-items: center;
}

.logo-mobile img {
  width: 90px;
  height: 45px;
}

.container_news {
  display: grid;
  color: white;
}

.recent_news {
  margin-top: 100px;
  margin-left: 10px;
  font-size: 18px;
}

.recent_news h3 {
  font-size: medium;
  margin-bottom: 4px;
}

.author {
  font-size: small;
  color: rgb(223, 217, 217);
}

/* Latest News */
.latest_news {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmx(180px, 1fr));
  gap: 6px;
}


.latest-news-header {
  margin-top: 10px;
  font-size: 28px;
  font-weight: bold;
  color: rgb(255, 68, 34);
}

/* funding container */
.funding_rounds {
  display: grid;
  gap: 6px;
  grid-template-columns: repeat(4, 1fr);
}

.top-funding {
  display: flex;
  justify-content: space-between;
  grid-column: 1 / -1;
  font-size: 16px;
  color: rgb(255, 68, 34);
}

.top-funding h2 {
  font-size: 26px;
}

.top-funding ul {
  display: flex;
}

.top-funding li:nth-child(2)::before, .top-funding li:nth-child(2)::after {
  content: '|';
  padding: 0 5px;
}

.new_funding {
  position: relative;
  color: rgb(61, 61, 61);
  background-color: rgb(238, 237, 237);
}

.new_funding img {
  position: absolute;
  width: 70px;
  height: 70px;
  margin: 10px;
}

.new_funding h3 {
  padding: 10px 0 10px calc(60px + 2rem);
  font-size: 15px;
  color: #fff;
  background-color: rgb(255, 68, 34);
}

.new_funding hgroup {
  padding: 10px 0 10px calc(60px + 2rem);
  background-color: rgb(248, 208, 201);
}

.new_funding hgroup h4 {
  font-size: 15px;
  color: #000;
}

.new_funding hgroup h5 {
  font-size: 12px;
  font-weight: 400;
  color: rgb(104, 102, 102);
}