/* main style */
*, *::before, *::after {
  padding: 0;
  margin: 0;
  font-family: 'ARS Maquette,Helvetica Neue,Arial,sans-serif';
  box-sizing: border-box;
}

html, body {
  font-size: 12px;
}

.container {
  padding-left: 1.2rem;
}

ul {
  list-style-type: none;
}

button {
  border: none;
  background: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

.icons {
  display: block;
  width: 1.3rem;
  height: 1.3rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.tag {
  background-image: url('./assets/tag-icon.png');
}

.briefcase {
  background-image: url('./assets/briefcase.svg');
}

.search_icon {
  background-image: url('assets/search.png');
}

.top_nav, .top_nav ul, .navigation_bar, .navigation_bar ul {
  display: flex;
  align-items: center;
}

.logo-mobile img {
  width: 90px;
  height: 45px;
}

.container_news {
  display: grid;
  color: white;
}

.recent_news {
  margin-top: 100px;
  margin-left: 10px;
  font-size: 18px;
}

.recent_news h3 {
  font-size: medium;
  margin-bottom: 4px;
}

.author {
  font-size: small;
  color: rgb(223, 217, 217);
}

/* Latest News */
.latest_news {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmx(180px, 1fr));
  gap: 6px;
}


.latest-news-header {
  margin-top: 10px;
  font-size: 28px;
  font-weight: bold;
  color: rgb(255, 68, 34);
}

/* funding container */
.funding_rounds {
  display: grid;
  grid-column-gap: 3px;
  grid-template-columns: repeat(4, 1fr);
}

.top-funding {
  display: flex;
  justify-content: space-between;
  grid-column: 1 / -1;
  font-size: 16px;
  color: rgb(255, 68, 34);
}

.top-funding h2 {
  font-size: 26px;
}

.top-funding ul {
  display: flex;
}

.top-funding li:nth-child(2)::before, .top-funding li:nth-child(2)::after {
  content: '|';
  padding: 0 5px;
}

.new_funding {
  position: relative;
  color: rgb(61, 61, 61);
  margin-bottom: 2px;
  background-color: rgba(245, 236, 236, 0.3);
}

.new_funding img {
  position: absolute;
  width: 70px;
  height: 70px;
  margin: 10px;
}

.new_funding h3 {
  padding: 10px 0 10px calc(60px + 2rem);
  font-size: 15px;
  color: #fff;
  background-color: rgb(255, 68, 34);
}

.new_funding hgroup {
  padding: 10px 0 10px calc(60px + 2rem);
  background-color: rgb(248, 208, 201);
}

.new_funding hgroup h4 {
  font-size: 15px;
  color: #000;
}

.new_funding hgroup h5 {
  font-size: 12px;
  font-weight: 400;
  color: rgb(104, 102, 102);
}

.tag_icons, .describe {
  padding: 15px 10px;
}

.tag_icons {
  margin-bottom: 10px;
  font-size: 12px;
  border-bottom: 1px solid rgba(246, 129, 109, 0.36);
}

.tag_icons li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.tag_icons li:last-of-type {
  margin-bottom: 0;
}

.tag_icons li .icons {
  margin-right: 6px;
}

.describe {
  padding-top: 0;
  font-size: 10px;
  line-height: 1.5;
}

.describe a {
  color: #997;
}

/* popular headlines */

.headlines {
  display: grid;
  grid-column-gap: 4px 2px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.headline h2 {
  padding-bottom: 5px;
  font-size: 28px;
  color: rgb(255, 64, 34);
}

.most_popular {
  position: relative;
  padding-top: 75%;
  background-position: center;
  background-size: cover;
}
