@media (max-width: 768px) {
  .top_nav, .top_nav ul, .navigation_bar {
    display: none;
  }
  .search_icon {
    display: flex;
  }
  .container_news {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px;
    grid-auto-rows: 250px;
    gap: 2px;
  }
  .latest_news {
    display: flex;
  }
  .latest_news img {
    max-width: 100px;
    max-height: 100px;
    padding-top: 0;
  }
}